<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Subscribed Users</h4>
                      <p class="card-category"> Here is a list of users with points on the website</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                        <!--  <table class="table">
                              <thead class=" text-primary">                                 
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      Phone Number
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                     Current Points
                                  </th>
                                  <th>
                                    Cummulative Points
                                 </th>
                              </thead>
                              <tbody>
                                  <tr>                                     
                                      <td>
                                          test@gmail.com
                                      </td>
                                      <td>
                                          0829925562
                                      </td>
                                      <td>
                                          Johanesburg
                                      </td>
                                      <td class="text-primary">
                                          2
                                      </td>
                                      <td class="text-primary">
                                        18
                                      </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        user2@gmail.com
                                    </td>
                                    <td>
                                        0829255562
                                    </td>
                                    <td>
                                        Pretoria
                                    </td>
                                    <td class="text-primary">
                                        2
                                    </td>
                                    <td class="text-primary">
                                      2
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        test@gmail.com
                                    </td>
                                    <td>
                                        0829925562
                                    </td>
                                    <td>
                                        Rustenburg
                                    </td>
                                    <td class="text-primary">
                                        4
                                    </td>
                                    <td class="text-primary">
                                      12
                                    </td>
                                  </tr>                               
                              </tbody>
                          </table> -->
                      </div>
                  </div>
              </div>
          </div>
     
      </div>
  </div>
</div>
